<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load censorship_filter %}

<!-- Название у нас будет Product -->
{% block title %}
    Portal | post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
    <div style="margin-top: 40px; text-align: start;">
        {% if post %}
            <div style="margin-bottom: 20px;">
                <div style="font-size: 28px; text-align: center;">{{ post.post_title|censor }}</div>
                <div style="font-size: 16px; margin-bottom: 10px;">{{ post.post_created|date:'d M Y' }}</div>
                <div style="font-size: 18px;">{{ post.post_text|censor }}</div>
                <hr style="margin-bottom: 0;">
                <div style="display: flex; flex-direction: row; gap: 30px; font-size: 16px; justify-content: end;">
                    <div>author: {{ post.post_author }}</div>
                    <div>category:
                        {% for category in post.post_category.all %}
                            {{ category.category_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div>rating: {{ post.post_rating }}</div>
                    <div>type: {{ post.get_post_type_display }}</div>
                </div>
            </div>
        {% else %}
            <h3>Something wrong, try later!</h3>
        {% endif %}
        <div style="display: flex; justify-content: space-between">
            <a href="{% url 'posts' %}" style="text-decoration: none; font-size: 20px;">Back ...</a>
            <a href="{% url 'news_edit' post.pk %}" style="text-decoration: none; font-size: 20px;">Change ...</a>
            <a href="{% url 'news_delete' post.pk %}" style="text-decoration: none; color: darkred; font-size: 20px;">Delete</a>
        </div>
    </div>
{% endblock content %}